#container {
    width: 80%;
    /* border: 1px solid grey; */
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#header {
    height: 100px;
    padding: 10px 0;
}
#brand {
    float: left;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    color: #861BBF;
    text-decoration: none;
}

#searchBox {
    float: right;
    background: linear-gradient(#E4F2B9, #B7E953);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    background: white url('search.png') no-repeat right center;
    border-style: none;
}

.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: #fff;
    background: #A751D6;
    font-size: 15px;
    border-style: none;
}

.clear {
    clear: both;
}

#menu {
    height: 70px;
    background: linear-gradient(#F8F594, #D5D533);
    padding: 7px 0;
}

ul {
    list-style: none;
}

#menu ul li {
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
}

#menu ul li:last-child {
    border-right: none;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5d12e7;
    line-height: 30px;
    -webkit-transition: font-size .3s ease;
    -moz-transition: font-size .3s ease;
    -o-transition: font-size .3s ease;
    -ms-transition: font-size .3s ease;
    transition: font-size .3s ease;
}

#menu ul li a:hover, #menu ul li a.active {
    font-size: 20px;
    font-weight: bold;
    color: #B314DB;
}

#introduction {
    background: linear-gradient(#E5F2BB, #B7E952);
    padding: 30px;
    margin: 16px 0;
}

#introduction h3 {
    font-size: 45px;
    font-weight: normal;
    color: #316901;
    text-decoration: none;
}

#introduction p {
    font-size: 25px;
    color: #628F19;
    text-align: justify;
}