* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg : #222;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg);
    overflow: hidden;
}

ul {
    position: relative;
    display: flex;
    gap: 50px;
}

ul li {
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

ul li:hover {
    z-index: 10000;
    transform: scale(0.75);
}

ul li::before {
    content: '';
    position: absolute;
    inset: 30;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 20px var(--bg),
    0 0 0 22px var(--clr);
    transition: 0.5s;
}

ul li:hover:before {
    inset: 0;
}

ul li::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
}

ul li a {
    position: relative;
    color: var(--clr);
    text-decoration: none;
    z-index: 10;
    font-size: 2em;
    transition: 0.5s;
}

ul li:hover a {
    font-size: 3em;
    filter: drop-shadow(0 0 20px var(--clr))
    drop-shadow(0 0 40px var(--clr))
    drop-shadow(0 0 60px var(--clr));
}

@media screen and (max-width: 600px) {
    ul {
        gap: 15px;
    }
    
}