@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    overflow-x: visible;
    margin-top: 20px;
    margin: 20px;
    background-color: #057f26;
}

.row {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1 {
    background-color: blueviolet;
    color: white;
}

.card {
    border-radius: 20px;
    margin: 20px;
}

.bg-success {
    border-radius: 20px;
}

@media(max-width: 420px) {
    body {
        margin: 10px;
        margin-top: 20px;
    }
    h1 {
        font-size: 18px;
    }
    .card {
        margin: 10px;
    }
    .card-header {
        font-size: 12px;
    }
    a {
        font-size: 14px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
