@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    overflow-x: visible;
    margin-top: 20px;
    margin: 20px;
    background: #01031d;
}

.container-fluid .bgh {
    background: linear-gradient(to right, #00d2ff, #e06666, #00d2ff);
    border: 1px solid #ff9;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 210, 255, .7),
    0 15px 25px rgba(255, 53, 70, 0.7),
    0 15px 30px rgba(0, 210, 255, 0.3);
    padding: 10px;
    font-weight: 900;
    font-size: 2em;
    font-style: italic;
    font-family: 'Roboto', 'sans-serif';
}

.row {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .card {
    color: #fff;
    background: linear-gradient(to bottom, #ff359b, #fffd87, #00d2ff);
    border-radius: 20px;
    margin: 20px;
    border: 1px solid #ff9;
    box-shadow: 0 10px 20px rgba(0, 210, 255, 0.5),
    0 15px 25px rgba(255, 253, 135, .3),
    0 15px 30px rgba(0, 10, 255, 0.3);
}

.h1 {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer section a {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

footer section a i {
    color: #fff;
}

footer section a:hover i{
    color: var(--clr);
}


@media(max-width: 420px) {
    body {
        margin: 10px;
        margin-top: 20px;
    }
    h1 {
        font-size: 18px;
    }
    .card {
        margin: 10px;
    }
    .card-header {
        font-size: 12px;
    }
    a {
        font-size: 14px;
    }
}


/* 

#1877f2; Facebook
#ff0000; Youtube
#1da1f2; Twitter
#c32aa3; Instagram
#25d366; Whatsapp
*/
