@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(37, 37, 37);
  }

  .btn-container {
    border: 2px solid black;
    padding: 10px;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
    /* inset -> inside shadow then 4 values -> horizontal offset, vertical offset, blur, spreading area, then color */
  }

  button {
    cursor: pointer;
    outline: none;
    width: 120px;
    height: 75px;
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 2px 5px black;
    background: linear-gradient(to top, #696969, #575757);
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4),
    0 12px 12px 0 rgba(0, 0, 0, 0.3);
}

button:hover {
    background: linear-gradient(to bottom, #696969, #575757);
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
}
  