@mixin  clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// MEDIA QUERIES

/* 
0 - 600px  ----------->  mobile
600px - 900px  ----------->  tablet Portrait
900px - 1200px  ----------->  tablet Landscape
1200px - 1800px  ----------->  desktop Normal Styles
1800px - infinity  ----------->  large desktop

Breakpoint argument choices:
-- phone
-- tab-port
-- tab-land
-- desktop
-- big-desktop

rem sometimes is not enough, so we use em

1em = 16px;

ORDER: BASE + Typography > Then General layout + grid + page layout + components
*/

@mixin respond($brkpoint) {
    @if $brkpoint == "phone" {
        @media (max-width: 37.5em) { // 37.5em = 600px
            @content;
        }
    }
    @if $brkpoint == "tab-port" {
        @media (max-width: 56.25em) { // 56.25em = 900px
            @content;
        }
    }
    @if $brkpoint == "tab-land" {
        @media (max-width: 75em) { // 75em = 1200px
            @content;
        }
    }
    @if $brkpoint == "big-desktop" {
        @media (min-width: 112.5em) { // 112.5em = 1800px
            @content;
        }
    }
}