* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #10131c;
}

.navigation {
    position: relative;
    width: 70px;
    height: 70px;
    background: #212532;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0.8s;
}
.navigation.active {
    width: 200px;
    height: 200px;
    transition-delay: 0s;
}
.navigation span {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
    transform: translate(calc(12px * var(--x)), calc(12px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation.active span {
    width: 45px;
    height: 45px;
    background: #333839;
    transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
}

.navigation span ion-icon {
    transition: 0.5s;
    font-size: 0em;
}

.navigation.active span ion-icon {
    font-size: 1.35em;
    color: #fff;
}

.navigation.active span:hover ion-icon {
    color: #2df352;
    filter: drop-shadow(0 0 2px #2df352) 
    drop-shadow(0 0 5px #2df352) 
    drop-shadow(0 0 15px #2df352);
}